@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /*font-family: Arial, Helvetica, sans-serif;*/
  }

@layer base {
  :root {
    --background: 0 0% 1%;
    --foreground:  40 90% 97%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 0 0% 62%;

    --popover: 176 0% 3.4%;
    --popover-foreground: 0 0% 62%;

    --border: 176 0% 11.2%;
    --input:176 0% 20%;

    --card: 176 0% 5%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 170 100% 47%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    /*used in popovers and menu items hover*/
    --accent: 176 0% 10%; /* Lighter gray */
    --accent-foreground: 0 0% 90%; /* Almost white, slightly faded */

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;

    /* Surface colors */
    --surface100:  176 0% 16%;
    --surface200:  176 0% 15%;
    --surface300: 176 0% 12%;
    --surface400: 176 0% 11.5%;
    --surface500: 176 0% 10%;
    --surface600: 176 0% 7.5%;
    --surface700: 176 0% 6.8%;
  }

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


/* Custom scrollbar styles */
::-webkit-scrollbar {
  height: 8px;
  width: 7px
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #4d4d4d;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
